# Dependency directory
node_modules

# local env variables
.env

# coverage
coverage
.nyc_output
coverage.json

# cache
.eslintcache

# hardhat
artifacts
cache

# macOS
.DS_Store
*.icloud

# redis
dump.rdb

# typechain
typechain

# typescript
dist

# VS Code
.vscode

